<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Join The Club</title>
    <style>
    .error {
      color: red;
      margin-bottom: 10px;
    }
  </style>
</head>

<body>
  <h1>Join The Club!</h1>

    <% if (typeof errors !== 'undefined') { %>
    <div class="error">
      <% errors.forEach(error => { %>
        <p><%= error.msg %></p>
      <% }); %>
    </div>
  <% } %>

  <form action="/join-club" method="POST">
    <label for="password">Enter our secret password</label>
    <input id="password" name="password" placeholder="Secret Password" type="password" />

    <button type="submit">Join Club</button>
  </form>



</body>

</html>